{% extends 'base.html' %}
{% block content %}
<section class="events-detail">
<h1 class="events-header">Event Details</h1>
<div class="card card-det">
  <div class="card-content row">
    <span class="card-title">{{ event.artists }}</span>
    <div class="col s12 m4 offset-m1">
      <p>Date: {{ event.date }}</p>
      <p>Venue: {{ event.venue.name }}</p>
      <p>Genre: {{ event.genre }}</p>
      <p>Description: {{ event.description }}</p>
    </div>
    <div class="col s12 m4">
      <div id="map" style="width: 250px; height: 250px"></div>
    </div>
  </div>
  <div class="card-action">
    {% if event.venue.user == user %}
      <a href="{% url 'update' event.id %}">Edit</a>
      <a href="{% url 'delete' event.id %}">Delete</a>
    {% endif %}
  </div>
</div>
</section>
<script>
  var map;
  var service;
  var infowindow;

  function initMap() {
    var san_francisco = new google.maps.LatLng(37.7749, 122.4194);

    infowindow = new google.maps.InfoWindow();

    map = new google.maps.Map(
        document.getElementById('map'), {center: san_francisco, zoom: 15});

    var request = {
      query: '{{ event.venue.name }}',
      fields: ['name', 'geometry'],
    };

    service = new google.maps.places.PlacesService(map);

    service.findPlaceFromQuery(request, function(results, status) {
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }

        map.setCenter(results[0].geometry.location);
      }
    });
  }

  function createMarker(place) {
    var marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(place.name);
      infowindow.open(map, this);
    });
  }
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRHMKqgW1jOl2MD2N6QCTP-Kkscp6ZmOY&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}