{% extends 'base.html' %}
{% block content %}

<section class="mission">
    <h1 class="mission-header">bandtogether</h1>
    <a class="mission-more" href="#statement">learn</a>  
</section>

<section class="statement" id="statement">
    <h1 class="statement-header">Who We Are</h1>
    <p class="statement-content">
        bandtogether<br> was conceived 
        through our love of the performing arts coupled with 
        our mutual hatred for the surcharge middlemen who so 
        frequently drive up ticket costs in a region that is 
        already amongst the most expensive in the entire nation. 
        We at BandTogether firmly believe that creative 
        expression belongs to those it inspires. We do not 
        forgive, we do not forget.
    </p>
</section>

{% endblock %}