{% extends 'base.html' %}
{% block content %}

<section class="ticket-list">
<h1 class="events-header">{{ user }}'s Tickets</h1>
{% if tickets|length > 0 %}
  {% for ticket in tickets %}
    <div class="card">
      <div class="card-content ticket-list-item">
        <span class="card-title">{{ ticket.event.artists }}</span>
        <p>Venue: {{ ticket.event.venue.name }}</p>
        <p>Date: {{ ticket.event.date }}</p>
        <p>Address: {{ ticket.event.venue.address }}</p>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="card ticket-list-item">
    <div class="card-content">
      <h3 class="center ticket-display">No Tickets Yet</h3>
    </div>
  </div>
{% endif %}
</section>

{% endblock %}