/* css variables */
:root {
  --shade: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

/* general app stylings */
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background: #000;
  margin-bottom: 44px;
}

form {
  background: rgba(255,255,255,.1);
  padding: 15px;
}

/* Nav Section */
nav {
  box-shadow: 0px 15px 9px -10px #000;
}

.nav-icon {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-25%);
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
}

.brand-logo.left {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.fa-bars {
  font-size: 30px;
  text-shadow: var(--shade);
}

.brand-logo.left {
  left: 5% !important;
}

nav ul a { 
  font-size: 20px;
  text-shadow: var(--shade) !important;
}   

ul .sidenav {
  background: teal;
}

.nav-login {
  text-shadow: var(--shade) !important;
}

/* Main Section */
main {
  flex: 1 0 auto;
  margin: 0 !important;
  width: 100% !important;
}

.mission {
  background-image: url('https://i.imgur.com/dZKKDWS.jpg');
  background-size: cover;
  height: 100vh;
}

.formation {
  font-size: 1.5em !important;
  color: #fff !important;
}

.card-content {
  color: #00695c;
}

.formation p label {
  color: white !important;
  font-size: 22px !important;
  text-shadow: var(--shade);
}


/* Footer steez */
footer  {
  padding-top: 10px !important;
  padding-bottom: 10px !important; 
  text-align: center !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-shadow: var(--shade);
}

/* Mission Section */
.mission-header {
  color: #a7ffeb;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.mission-more {
  color: #a7ffeb;
  font-size: 2.75em;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* statement section */
.statement {
  height: 100vh;
  background-image: url('https://i.imgur.com/hAzBkC0.jpg'); 
  background-size: cover;
}

.statement-header {
  color: #a7ffeb;
  font-size: 30px;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
  padding-top: 20%;
}

.statement-content {
  color: #a7ffeb;
  font-size: 22px;
  text-align: center;
  padding-top: 2rem;
  margin: 0 10%;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  
}

/* Login section */
.login-header {
  color: white !important;
  font-size: 30px !important;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
}

.section-login {
  height: 100%;
  background-image: url('https://i.imgur.com/0R2TzR9.jpg');
  background-size: cover;
  width: 100%;
  text-align: center;
}

.login-header {
  margin: 0;
  padding-top: 100px;
}

/* cards and builtins */
.input-steez {
  width: 25%;
  display: block;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  background-color: #00695c;
  box-shadow: 0px 15px 9px -10px #000;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}

.card {
  width: 30%;
  margin: 15px auto;
  border-radius: 10px;
}

.card-hov {
  box-shadow: none;
  transform: scale(1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-hov:hover {
  box-shadow: 0 0 30px rgba(33,33,33,.9);
  transform: scale(1.1) skew(-2deg, 0deg);
}

.card-det {
  width: 40%;
}

/* events listing page */
.events-listing {
  background-image: url('https://i.imgur.com/0R2TzR9.jpg');
  height: 100vh;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}

input#search.search-bar {
  width: 20%;
  margin-top: 20px;
}

.events-header {
  font-size: 42px;
  color: #fff;
  text-shadow:
  -1px -1px 0 #00695c,
  1px -1px 0 #00695c,
  -1px 1px 0 #00695c,
  1px 1px 0 #00695c;
  margin: 0;
  padding-top: 50px;
}

/* add events page */
.add-events {
  background-image: url('https://i.imgur.com/0R2TzR9.jpg');
  height: 100vh;
  text-align: center;
}

.add-events input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  background:#fff;
}

.formation-add  {
  width: 50%;
  margin: 0 auto;
  border-radius: 10%;
}

.formation-add table tbody tr th label {
  color: #a7ffeb !important;
  font-size: 22px !important;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.formation-add label {
  color: #fff !important;
  font-size: 22px !important;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(36, 31, 31, 0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.formation-add p {
  margin: 0;
}

.select-wrapper .caret {
  opacity: 0;
}

.add-header {
  color: #a7ffeb;
  margin: 0;
  padding-top: 75px;
}

.add-events textarea {
  width: 50%;
  height: 5rem;
  background-color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
}

.add-events .btn {
  margin-top: 25px;
}


/* add venues page */
.add-venues input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  background:#fff;
  margin: 0 auto;
}

/* venues list page */
.venue-list {
  text-align: center;
  background-image: url(https://i.imgur.com/0R2TzR9.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

/* event details page */
.events-detail {
  background: url('https://i.imgur.com/CZk7ptS.jpg');
  background-size: contain;
  height: 100vh;
}

.events-detail h1 {
  text-align: center;
}

#map {
  border-radius: 20px;
}

.card-title {
  text-align: center;
}

.card-action {
  text-align: center;
}

/* Media Queries */

/* 1280px width and down */
@media only screen and (max-width: 1280px) {
  .card-det {
    width: 60%;
  }
}

/* 992px width and down */
@media only screen and (max-width: 992px) {
  .card-det {
    width: 80%;
  }

  .mission-header {
  font-size:3em;
  }

  .mission-more {
    font-size:2em;
  }

  .statement-header {
    margin-bottom: -25px;
  }

  .statement {
  background-image: url('https://i.imgur.com/2QQQ3NF.jpg');
  }

  /* upcoming events page */
  .card-event {
    width: 50%;
  }

  input#search.search-bar {
    width: 40%;
  }

  .events-detail {
    background-size: cover;
  }
}

/* 601px width and down */
@media only screen and (max-width: 601px) {
  #map {
    margin: 0 auto;
  }

  .card-desc {
    margin: 0 auto !important;
    text-align: center;
  }
}


/* 480px width and down */
@media only screen and (max-width: 480px) {

  .statement {
    height: 80vh;
  }  

  .statement-header {
    padding-top: 10%;
  }

  .brand-logo.left {
      left: 7% !important;
      }
  .card{
    width: 70%;
  }

  input#search.search-bar {
    width: 50%;
  }

  .mission-header {
    top: 15%;
  }

  /* add events page */
  .add-events input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background:#fff;
    width: 100%;
    right: 15px;
  }

  .add-events textarea {
    width: 100%;
  }

  .add-header {
    color: #a7ffeb;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 3em;
  }

  #map {
    margin: 0 auto;
    height: 225px !important;
    width: 225px !important;
  }

}